@import '../ContactForm/ContactForm.scss';

.filter {
  display: flex;
  flex-direction: column;

  margin-bottom: 40px;

  &__input {
    @extend .form__input;

    margin-top: 20px;
  }

  & span {
    @extend .form__lable__text;
  }
}
